<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base.html</title>
</head>
<body>
<div id = "nav">
  <h1>Notice-board</h1>
  <h3>hello, {{user}}</h3>
  {% if user.is_authenticated %}
  <h1>AUTH!!!!</h1>
  <form action="{% url 'accounts:logout' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Logout">
  </form>
  {% else %}
  {% comment %} <a href="{% url 'accounts:signup' %}">sign up</a> {% endcomment %}
  <a href="{% url 'accounts:login' %}"> log in </a>
  {% endif %}
</div>
<hr>
<br>

  <div class="content">
    {% block content %}
    {% comment %} 1.  회원가입, user님 안녕하세요, 넣어야 함 {% endcomment %}
    {% comment %} 2. 게시판 생성 넣어야 함, 대신 로그인 했을 때 나올 수 있도록 해야 함 {% endcomment %}
    {% endblock content %}
  </div>

  
</body>

</html>

