<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base.html</title>
</head>
<body>
<div id = "nav">
  <h1>Notice-board</h1>
  {% if user.is_authenticated %}
  <h3>hello, {{user}}</h3>
  <div>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>
    <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>
    <a href="{% url 'accounts:update' %}">update</a>
  </div>
  {% else %}
  {% comment %} <a href="{% url 'accounts:signup' %}">sign up</a> {% endcomment %}
  <a href="{% url 'accounts:login' %}"> log in </a>
  <a href="{% url 'accounts:signup' %}">sign up</a>
  {% endif %}
</div>
<hr>
<br>
  <div class="content">
    {% block content %}
    {% endblock content %}
  </div>



</body>

</html>

