{% extends 'base.html' %}
{% block content %}
<h1>{{person.username}}님의 프로필</h1>
<div>
  <div>
    팔로잉: {{person.followings.all|length}} / 팔로워 : {{person.followers.count}}
  </div>
  {% if request.user != pserson %}
    <div>
      <form action="{% url 'accounts:follow' person.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <input type="submit" value="Unfollow">
        {% else %}
        <input type="submit" value="Follow">
        {% endif %}
      </form>
    </div>
  {% endif %}
</div>

<hr>
<h3>{{person.username}}'s 게시글</h3>
{% for movie in person.movie_get.all %}
<div>{{movie.title}}</div>
{% endfor %}
<hr>
<h3>{{person.username}}'s 좋아요한 게시글</h3>
{% for movie in person.like_movies.all %}
<div><h4>{{movie.title}}</h4></div>
{% endfor %}

<a href="{% url 'movies:index' %}"><h3>[back]</h3></a>
{% endblock content %}